<div class="w-full">
  <!-- Item Card/Grid -->
  @if(items().length){
  <div class="mx-auto max-w-6xl grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    @for (item of items(); track item.id) {
    <app-product-item [product]="item" [isHaveItems]="(!items() || items().length > 0)" (addToCart)="onAddTo($event)"
      (deleteToCart)="onDeleteTo($event)" (updateToCart)="onUpdateTo($event)"
      [routerLink]="['/product', item.id]"></app-product-item>
    }
  </div>

  }@else {
  <div class="flex justify-center items-center py-10">
    <span class="text-gray-300 text-sm">
      No hay elementos para mostrar.
    </span>
  </div>
  }

</div>